APP_PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=27015
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_COLLECTION=astros

STORAGE_HOST=localhost
STORAGE_PORT=9000
STORAGE_USER=user
STORAGE_PASSWORD=password
STORAGE_BUCKET=astro_files



